.home-inner-card + .home-inner-card {
  margin-top: 35px;
}
.home-inner-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e9f0;
}
.home-inner-card__header__title {
  font-size: 18px;
  font-weight: 500;
  color: rgba(33, 40, 50, 1);
}
.home-inner-card__header__link {
  font-size: 14px;
  font-weight: 500;
  color: #0077ff;
}
.home-inner-card__header__link i {
  margin-left: 10px;
}
.home-inner-card__body {
  margin-top: 20px;
}

.home-create {
  display: block;
  cursor: pointer;
  color: #ca221c;
  height: 150px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 2px 1px rgba(208, 105, 109, 0.15);
  border-radius: 20px;
  font-size: 24px;
  font-weight: 500;
  padding: 30px 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.home-create:hover {
  color: #ca221c;
}
.home-create--mini {
  padding: 15px 20px;
  height: 120px;
  font-size: 18px;
}
.home-dotted-box__img {
  max-width: 50px;
  margin-bottom: 10px;
}
.home-dotted-box__title {
  font-size: 14px;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home-dotted-box:hover {
  border: 2px solid #07f;
}
.home-dotted-box {
  transition: border 0.2s;
  cursor: pointer;
  border: 2px dashed rgba(230, 233, 240, 1);
  border-radius: 10px;
  padding: 25px;
  color: #212832;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-project {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 2px 1px rgba(167, 167, 170, 0.15);
  border-radius: 10px;
  padding: 22px 20px 17px 20px;
}
.home-project__header {
  height: 29px;
  width: 40px;
  margin-right: 20px;
}
.home-project__header img {
  width: 100%;
  height: 100%;
}
.home-project__body {
  flex: 1;
}
.home-project__title {
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 500;
  color: rgba(33, 40, 50, 1);
}
.home-project__mate {
  display: flex;
}
.home-project__footer__left,
.home-project__footer__right {
  font-size: 14px;
  line-height: 22px;
  color: #616874;
  line-height: 14px;
}
.home-project__footer__left span {
  color: #212832;
  font-weight: 400;
}
.home-project__footer__right {
  color: #b9c0c8;
  margin-left: 10px;
}
.home-task {
  max-height: 625px;
  overflow: auto;
  margin-right: -30px;
  padding-right: 30px;
}
.home-task-item {
  display: flex;
}
.home-task-item + .home-task-item {
  margin-top: 30px;
}

.task-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.task-icon__bg {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background-color: #46c5b21a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.task-icon__bg i {
  color: #46c5b2;
}
.task-icon__text {
  color: #46c5b2;
  font-size: 12px;
  line-height: 12px;
  min-height: 24px;
  font-weight: 500;
  text-align: center;
}
.task-icon--red .task-icon__bg {
  background-color: #fb3c351a;
}
.task-icon--red .task-icon__text {
  color: #ca221c;
}
.task-icon--red .task-icon__bg i {
  color: #ca221c;
}
.task-icon--blue .task-icon__bg {
  background-color: #0077ff1a;
}
.task-icon--blue .task-icon__text {
  color: #0077ff;
}
.task-icon--blue .task-icon__bg i {
  color: #0077ff;
}

.task-body {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  color: rgba(97, 104, 116, 1);
}
.task-content__title {
  font-size: 16px;
  font-weight: 400;
  color: rgba(33, 40, 50, 1);
}
.task-content__subtitle {
  font-size: 14px;
  font-weight: 400;
}
.task-footer__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.task-footer__subtitle {
  font-size: 14px;
  font-weight: 400;
  color: rgba(185, 192, 200, 1);
}

@media screen and (max-width: 1599px) {
  .home-col-md4 {
    width: 33.33%;
  }
  .home-create--mini {
    height: 69px;
  }
}
