.index-body {
  background-color: rgb(240, 243, 247);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#homeSubPage {
  width: 100%;
  flex: 1;
}

.index-header {
  z-index: 1;
  color: #616874;
  display: flex;
  height: 60px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0px 4px 10px 0px rgba(29, 30, 49, 0.05);
  padding: 0 30px 0 18px;
  background-color: white;
}

.index-header__right {
  display: flex;
  align-items: center;
}

.index-notice {
  position: relative;
  margin-right: 5px;
}
.index-notice i {
  font-size: 20px;
}
.index-notice .layui-badge {
  position: absolute;
  background-color: #fb3c35;
  height: 14px;
  left: 18px;
  top: 2px;
  padding: 0 3px;
  line-height: 14px;
  border-radius: 7px;
  cursor: pointer;
}

.index-logo {
  font-size: 26px;
  font-weight: bold;
  color: #ca221c;
  line-height: 30px;
}

.index-logo img {
  float: left;
  margin-right: 10px;
}

.index-menus {
  display: flex;
  align-items: center;
}

.index-menus-item {
  position: relative;
  min-width: 100px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  box-sizing: border-box;
  line-height: 60px;
}

.index-menus-item:hover {
  background-image: linear-gradient(#f9fcff, #e6f2ff);
}

.index-menus-item.index-menus-item--active {
  background-image: linear-gradient(#f9fcff, #e6f2ff);
  font-weight: bold;
  color: #0077ff;
}

.index-menus-item.index-menus-item--active::after {
  content: " ";
  height: 4px;
  width: 100%;
  display: block;
  background-color: #0077ff;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.layui-btn-text {
  background: none;
  color: initial;
  padding: 0 9px;
}

.layui-btn-text:hover {
  color: initial;
}

.divider--vertical {
  display: inline-block;
  width: 1px;
  height: 32px;
  margin: 0 8px;
  vertical-align: middle;
  position: relative;
  background-color: #e6e9f0;
}

.index-user {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.index-user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* 通知 */

.notice-layer.layui-layer-openRight {
  top: 60px !important;
}

.notice-toolbar {
  display: flex;
  box-sizing: border-box;
  padding: 0 10px;
  justify-content: space-between;
  line-height: 30px;
}

.notice-toolbar .layui-dropdown-link {
  color: #212832;
}

.notice-toolbar .layui-dropdown-link + .layui-dropdown-link {
  margin-left: 30px;
}

.notice-toolbar .layui-dropdown-link i {
  color: #666666;
}

.notice-toolbar .layui-btn-text {
  color: #3c67f4;
}

.notice-layer.layui-layer-page .layui-layer-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 52px;
}

.notice-list-con {
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 20px;
}

.notice-list-con ul {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.notice-list-con li {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 20px 20px 15px 20px;
  font-size: 14px;
}

.notice-list-con li + li::before {
  position: absolute;
  content: "";
  left: 20px;
  right: 20px;
  height: 1px;
  top: 0;
  background-color: #e9ebf0;
}

.notice-list-con li:hover {
  background-color: #f0f3f7;
}

.notice-list-con li:hover .notice-list-item_tips {
  display: block;
}

.notice-list-con .notice-list-item_left {
  width: 32px;
}

.notice-list-item_left .notice-list-item_icon {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  text-align: center;
  line-height: 22px;
}

.notice-list-item_left .notice-list-item_icon i {
  font-size: 14px;
}

.notice-list-item_left .type-one {
  color: #e64219;
  background-color: rgba(230, 66, 25, 0.13);
}

.notice-list-item_left .type-two {
  color: #3c67f4;
  background-color: rgba(60, 103, 244, 0.13);
}

.notice-list-item_left .type-three {
  color: #46c5b2;
  background-color: rgba(70, 197, 178, 0.13);
}

.notice-list-item_left .type-four {
  color: #f5ae44;
  background-color: rgba(245, 174, 68, 0.13);
}

.notice-list-item_left .type-five {
  color: #6565ef;
  background-color: rgba(101, 101, 239, 0.13);
}

.notice-list-con .notice-list-item_right {
  flex: 1;
  padding-right: 55px;
  font-size: 14px;
  overflow: hidden;
}

.notice-list-con .notice-list-item_right > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-list-item_type {
  margin-bottom: 10px;
  color: #616874;
}

.notice-list-item_info {
  color: #212832;
  line-height: 24px;
}

.notice-list-item_date {
  font-size: 12px;
  color: #b9c0c8;
  line-height: 20px;
}

.notice-list-item_dot {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 20px;
  top: 20px;
  border-radius: 50%;
  background-color: #fb3c35;
}

.notice-list-item_tips {
  display: none;
  position: absolute;
  color: #3c67f4;
  bottom: 18px;
  right: 20px;
  cursor: pointer;
}

.indexWin-layer {
  border: 1px solid #3c67f4;
}

.task-detail-layer.layui-layer-page .layui-layer-content {
  top: 0;
  padding-top: 0;
  padding-bottom: 80px;
}
.task-detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  position: relative;
  margin-bottom: 20px;
}
.task-header{
  position: fixed;
  background-color: #fff;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
.btn-box{
  margin-top: 75px;
}
.task-detail__header::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  height: 1px;
  background-color: #e6e9f0;
}

.add-pretask-btn i {
  font-size: 40px;
  cursor: pointer;
  color: rgba(0, 119, 255, 1);
}
.task-detail__pretask__item {
  display: flex;
  align-items: center;
  color: #616874;
}

.pretask__item__status {
  color: #99a3bc;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.pretask__item__status::before {
  display: inline-block;
  content: " ";
  width: 5px;
  height: 5px;
  background-color: #99a3bc;
  border-radius: 100%;
  margin-right: 5px;
}

.task-detail-layer .layui-form {
  margin-top: 40px;
}
.task-detail-layer hr {
  background: rgba(230, 233, 240, 1);
  margin: 20px 0;
}

.task-detail-layer .layui-form-label-left .layui-form-label {
  width: 140px;
}

.task-detail-layer .layui-form-label-left .layui-input-block {
  margin-left: 140px;
  line-height: 34px;
}

.trend-title {
  margin-bottom: 20px;
}
.trend-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 5px;
}
.trend-item .layui-avatar {
  margin-right: 10px;
}
.trend-item__name {
  color: #616874;
  margin-right: 10px;
}
.trend-item__status {
  color: #b9c0c8;
  flex: 1;
}
.trend-item__time {
  color: #b9c0c8;
  font-size: 12px;
}

.comment-item {
  display: flex;
  margin-bottom: 10px;
}

.comment-item__avatar {
  margin-right: 10px;
  padding-left: 5px;
}

.comment-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 35px;
}

.comment-item__title {
  font-size: 14px;
  color: #212832;
}

.comment-item__time {
  color: #b9c0c8;
  font-size: 12px;
}

.comment-item__main {
  color: #616874;
  font-size: 12px;
}

.comment-input {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 470px;
  background-color: white;
  padding: 20px 0;
}

.comment-input__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-input__name {
  font-size: 16px;
  color: #212832;
}

.comment-input-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-input-box p {
  height: 36px;
  border: 1px solid rgba(213, 216, 224, 1);
  border-radius: 4px;
}

.comment-input-box .comment-input-text {
  flex: 1;
  height: 34px;
  box-sizing: border-box;
  border: 1px solid #d5d8e0;
  border-radius: 4px;
  padding: 3px 10px;
  overflow: auto;
}

.comment-input-box .comment-input-placeholder {
  position: absolute;
  left: 10px;
  top: 3px;
  font-size: 14px;
  color: #cccccc;
  z-index: -1;
}

.comment-input-box .comment-input-text:focus + .comment-input-placeholder {
  display: none;
}
