html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

.edit-report-con {
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.title {
  width: 100%;
  height: 75px;
  line-height: 75px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.title .page-title {
  margin-bottom: 0;
}

.page-title a {
  font-size: 18px;
  color: #99a3bb;
  margin-right: 5px;
}

.container {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 75px;
  bottom: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(28, 29, 49, 0.05);
  overflow: hidden;
}

.container .header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(28, 29, 49, 0.05);
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  z-index: 3;
}

.container .left-tree {
  position: absolute;
  left: 0;
  top: 20px;
  bottom: 0;
  width: 250px;
  padding-top: 40px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 8px 0px rgba(28, 29, 49, 0.05);
  border-radius: 0 0 10px 20px;
  z-index: 10;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(29, 30, 49, 0.05);
}

.container .tree-con {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container .layui-tree-overflow .layui-tree-txt {
  font-size: 14px;
}

#reportTree .layui-tree-entry {
  padding: 8px 0;
}

#reportTree .layui-disabled > span {
  color: #d2d2d2 !important;
}

#reportTree .layui-tree-entry {
  height: auto;
}

#reportTree .layui-tree-entry {
  align-items: normal;
}

#reportTree .layui-tree-overflow .layui-tree-btnGroup {
  position: absolute;
  right: 5px;
  height: 22px;
  bottom: 5px;
}

.container .right-con {
  position: absolute;
  left: 250px;
  right: 0;
  bottom: 0;
  top: 40px;
  border-radius: 0 0 10px 0;
  z-index: 1;
}

.right-tool {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.avatar-online .layui-avatar {
  margin-right: 5px;
}
.issue-tab {
  box-shadow: none;
  border: none;
  margin: 0 30px;
}
.issue-tab .issue-tab-title {
  width: 149px;
  height: 26px;
  display: flex;
  align-items: center;
  background: #f5f6f7;
}
.issue-tab .issue-tab-title li {
  line-height: 26px;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #e6e9f0;
  position: relative;
  font-size: 14px;
  cursor: pointer;
}
.layui-tab-title .layui-this {
  background: #0077ff;
  color: #fff;
}
.layui-tab-title .layui-this:after {
  height: 26px;
  border-radius: 4px;
  border: 1px solid #0077ff;
}
.issue-tab .issue-tab-title li.active {
  opacity: 0.7;
  transition: all 0.5s;
}
.issue-tab .issue-tab-content {
  position: absolute;
  z-index: 999;
}
.issue-tips-box {
  position: absolute;
  z-index: 999;
}
.issue-tip {
  width: 257px;
  height: 119px;
  padding: 20px;
  box-sizing: border-box;
  background-image: url("../../images/report/issue-tip.png");
}
.issue-tip p {
  line-height: 18px;
  color: #fff;
  font-size: 12px;
}
.issue-tip .issue-tip-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.btn-box {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.btn-box .other-btn {
  display: none;
}

#more i {
  color: #99a3bc;
  font-size: 22px;
}

.more-drop {
  left: 1235px;
  top: 68.7639px;
  z-index: 1999;
  display: block;
  width: 256px;
}

#taolun {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 20px;
  right: 20px;
  font-size: 14px;
}

#taolun .bottom-box {
  overflow: auto;
  position: absolute;
  top: 164px;
  bottom: 0;
  left: 0;
  width: 360px;
}

.taolun-layer {
  overflow: hidden !important;
}

.taolun-layer .layui-layer-content {
  padding-top: 0 !important;
  overflow: hidden;
}

.qunzhu {
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e9f0;
}

.summary {
  height: 100px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.summary p {
  color: #616874;
  margin-top: 10px;
}

.btn-arrow {
  width: 100%;
  height: 35px;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e6e9f0;
  display: flex;
}

.btn-arrow button {
  display: block;
  margin: 0 auto;
}

.btn-arrow button i {
  color: #0077ff;
}

.avatar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e9f0;
}

.avatar-taolun {
  height: 75px;
  width: 78%;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  line-height: 75px;
  padding-left: 5px;
}

.avatar-taolun .layui-avatar {
  margin-right: 5px;
}

.button-box {
  width: 68px;
  height: 75px;
  background: #fff;
  display: inline-block;
  line-height: 75px;
  text-align: center;
}

.button-box i {
  font-size: 41px;
  color: #0077ff;
  cursor: pointer;
}

.chat-box {
  /*max-height: 490px;*/
  overflow-y: scroll;
  padding: 5px;
  /* margin-top: 10px; */
  /* box-sizing: border-box; */
  position: absolute;
  top: 120px;
  bottom: 100px;
  left: 0;
  right: 0;
}

.chat-item {
  display: flex;
  margin-bottom: 10px;
}

.mine {
  flex-direction: row-reverse;
}

.chat-left {
  margin-right: 10px;
}

.others .chat-right,
.mine .chat-left {
  margin-top: 5px;
}

.chat-content {
  margin-top: 5px;
}

.chehui {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  height: 22px;
}

.chehui a {
  font-size: 12px;
}

.chat-name {
  font-size: 12px;
}

.mine .chat-content {
  background: rgba(245, 246, 247, 1);
  border: 1px solid rgba(230, 233, 240, 1);
  border-radius: 10px 0 10px 10px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.comment-input {
  position: fixed;
  bottom: 0;
  width: 90%;
  background-color: white;
  padding: 20px 0;
}

.comment-input__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-input__name {
  font-size: 16px;
  color: #212832;
}

.comment-input-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-input-box p {
  height: 36px;
  border: 1px solid rgba(213, 216, 224, 1);
  border-radius: 4px;
}

.comment-input-box .comment-input-text {
  flex: 1;
  height: 34px;
  box-sizing: border-box;
  border: 1px solid #d5d8e0;
  border-radius: 4px;
  padding: 3px 10px;
  overflow: auto;
}

.comment-input-box .comment-input-text:focus {
  border: 2px solid #f0f3f7 !important;
}

.comment-input-box .comment-input-placeholder {
  position: absolute;
  left: 10px;
  top: 3px;
  font-size: 14px;
  color: #cccccc;
  z-index: -1;
}

.comment-input-box .comment-input-text:focus + .comment-input-placeholder {
  display: none;
}

.jilu-item {
  margin-bottom: 10px;
}

.jilu-item p {
  color: #212832;
  font-size: 14px;
}

.jilu-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid rgba(230, 233, 240, 1);
}

.jilu-avatar .layui-avatar {
  margin-right: 5px;
}

.jilu-member i {
  color: #99a3bc;
  cursor: pointer;
}

.share-left__content {
  height: 80px;
  border: 1px solid rgba(235, 231, 231, 1);
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

.share-left__content .layui-badge {
  margin-bottom: 10px;
  height: 24px;
  border-radius: 4px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.share-left .layui-badge i {
  font-size: 10px;
  cursor: pointer;
  color: #99a3bb;
}

/*.bottom-box {*/
/*overflow: auto;*/
/*position: absolute;*/
/*top: 164px;*/
/*left: 0;*/
/*width: 360px;*/
/*}*/

.taolun-info .bottom-box {
  margin-top: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 265px;
}

.taolun-info .bottom-box .comment-item:last-child {
  margin: 0;
}

.comment-item {
  display: flex;
  margin-bottom: 10px;
}

.comment-item__avatar {
  margin-right: 10px;
  padding-left: 5px;
}

.comment-item__content {
  flex: 1;
}

.comment-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 35px;
}

.comment-item__title {
  font-size: 14px;
  color: #212832;
}

.comment-item__time {
  color: #b9c0c8;
  font-size: 12px;
}

.comment-item__main {
  color: #616874;
  font-size: 12px;
}

.comment-item__file {
  display: flex;
  margin-top: 10px;
}

.comment-item__img .icon {
  width: 1em;
  height: 1em;
  font-size: 20px;
}

.comment-item__filename {
  color: #0077fe;
  margin-left: 10px;
  text-decoration: underline;
  font-size: 14px;
}

.pinglun {
  margin-bottom: 75px;
}

/* 成员弹窗样式 */
.member-layer .search {
  width: 100%;
}

.member-list {
  position: absolute;
  top: 50px;
  bottom: 20px;
  left: 20px;
  right: 15px;
  margin-top: 20px;
  padding-right: 5px;
  overflow: auto;
}

.member-list li,
.version-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
  box-sizing: border-box;
  padding-left: 5px;
  overflow: hidden;
  color: #616774;
}

.member-list li + li,
.version-list li + li {
  margin-top: 15px;
}

.user-msg {
  display: flex;
  height: 34px;
  align-items: center;
}

.user-msg .layui-avatar-name {
  margin-left: 8px;
  max-width: 120px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.member-list .member-authority {
  font-size: 14px;
  cursor: pointer;
}

.member-authority i,
.version-time i {
  font-size: 12px;
  color: #99a3bb;
}

.member-drop {
  width: 150px;
  border-radius: 10px;
}

/* 历史版本弹窗 */
.version-list li {
  cursor: pointer;
}

.version-list .version-time {
  font-size: 14px;
  color: #212732;
}

/* 版本内容样式 */
#versionMain .version-con {
  position: absolute;
  top: 15px;
  left: 20px;
  right: 10px;
  height: 505px;
  overflow: auto;
}

#versionMain .version-containter {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: auto;
}

#versionMain .version-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  padding-top: 15px;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.5);
}

.style-item .style-title {
  color: #212832;
}

#level1 .style-title {
  font-size: 32px;
}

#level2 .style-title {
  font-size: 28px;
}

#level3 .style-title {
  font-size: 26px;
}

#level4 .style-title {
  font-size: 24px;
}

#level5 .style-title {
  font-size: 22px;
}

#level6 .style-title {
  font-size: 20px;
}

#level7 .style-title {
  font-size: 16px;
}

.style-content {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.style-content .separator {
  color: #e6e9f0;
  margin: 0 10px;
  font-size: 18px;
}

.style-content xm-select {
  min-height: 21px;
  line-height: 21px;
  border: none;
}

.style-content xm-select > .xm-icon {
  border-top-color: #2f343c;
}

.style-content xm-select .xm-label .scroll .label-content {
  line-height: 21px;
  white-space: nowrap;
}

.style-content xm-select .xm-body .xm-option .xm-option-icon {
  height: 18px;
  width: 18px;
  font-size: 18px;
  display: none;
}

.style-content xm-select > .xm-tips {
  color: #212832;
}

.style-content xm-select > .xm-body .xm-option-content {
  display: block;
  padding-left: 0;
}

.style-content xm-select > .xm-body {
  width: 120%;
  left: -6px;
}

.style-content xm-select > .xm-label .scroll .label-content {
  display: flex;
  padding: 0 30px 3px 10px;
}

.xm-select-font,
.xm-select-size {
  width: 23%;
}

.font-style {
  flex: 1;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.font-style-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.color-tag {
  width: 20px;
  height: 3px;
  display: inline-block;
  position: relative;
}

.font-style-box.active {
  background-color: #dcdee0;
}

.font-style-box i {
  font-size: 18px;
  color: #616874;
}

.color-tag .layui-colorpicker {
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
  padding: 20px 0 0 0;
  top: -20px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.color-tag .layui-colorpicker-trigger-span .layui-colorpicker-trigger-i {
  display: none;
}

/* 任务弹窗样式 */
.task-tool {
  border-bottom: 1px solid #e6e9f0;
}

.task-tool .task-tool-item {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.task-tool-item span {
  font-size: 16px;
  color: #333;
}

.task-lists {
  position: absolute;
  bottom: 20px;
  top: 145px;
  left: 20px;
  right: 15px;
  padding-right: 5px;
  box-sizing: border-box;
  overflow: auto;
}

.task-lists li {
  display: flex;
  font-size: 14px;
}

.task-lists li + li {
  margin-top: 18px;
}

.task-lists .task-status {
  width: 65px;
  color: #b9c0c8;
}

.task-lists .task-status-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 3px;
  background-color: #979797;
  border-radius: 50%;
  vertical-align: middle;
}

.task-lists .task-status.task-status-undone {
  color: #ca221c;
}

.task-lists .task-status-undone .task-status-dot {
  background-color: #ca221c;
}

.task-lists .task-msg {
  flex: 1;
  overflow: hidden;
  color: #616874;
}

.task-lists .task-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.task-lists .task-people {
  margin-top: 10px;
  font-size: 12px;
}

.task-lists .task-list-operat a {
  cursor: pointer;
  color: #0077ff;
}

.task-lists .task-list-operat a:hover {
  opacity: 0.8;
}

.task-lists .task-list-operat i {
  font-size: 14px;
}

.doc-toolbar {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  padding: 20px;
  box-sizing: border-box;
}
.doc-toolbar .layui-btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: aqua;
  margin-bottom: 40px;
  margin-left: 0;
  display: flex;
  font-size: 14px;
  flex-direction: column;
}
.doc-toolbar .layui-btn span {
  color: #616874;
  font-size: 14px;
}
.doc-toolbar .layui-btn:first-child {
  background: #fb3c35;
  box-shadow: 0px 3px 7px 0px rgba(251, 53, 60, 0.35);
}
.doc-toolbar .layui-btn:nth-child(2) {
  background: #50c5b2;
  box-shadow: 0px 3px 7px 0px rgba(80, 178, 197, 0.35);
}
.doc-toolbar .layui-btn:nth-child(3) {
  background: #0077ff;
  box-shadow: 0px 3px 7px 0px rgba(0, 119, 255, 0.35);
}
.doc-toolbar .layui-btn:nth-child(4) {
  background: #6565ef;
  box-shadow: 0px 3px 7px 0px rgba(101, 101, 239, 0.35);
}

.doc-toolbar .layui-btn i {
  font-size: 18px !important;
}
.doc-toolbar .layui-btn:hover {
  color: #fff;
}
.doc-toolbar .layui-btn:hover span {
  color: #0077ff;
}

/* 段落信息弹窗 */
.partInfo-layer {
  top: 130px !important;
  left: auto !important;
  right: 100px !important;
  bottom: 20px;
}

.partInfo-layer.layui-layer-page .layui-layer-content {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 14px;
}

#partInfoMain .task-type-icon {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  height: 12px;
  width: 12px;
  margin-right: 5px;
  border-width: 1px;
  border-style: solid;
  vertical-align: middle;
  border-radius: 50%;
}

#partInfoMain .font_family {
  font-size: 20px;
  vertical-align: middle;
}

#partInfoMain .layui-form-label-icon .layui-form-label {
  padding-left: 25px;
}

#partInfoMain .un-done {
  border-color: #99a3bc;
}

#partInfoMain .done {
  border-color: #46c5b2;
}

#partInfoMain .un-done:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  background-color: #99a3bc;
  border-radius: 50%;
}

#partInfoMain .done:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  background-color: #46c5b2;
  border-radius: 50%;
}
.layui-layer .layui-dropdown-link {
  color: #212832;
  cursor: pointer;
  line-height: 34px;
}

.add-pretask-btn {
  line-height: 1;
}
.add-pretask-btn i {
  font-size: 32px !important;
  cursor: pointer;
  color: rgba(0, 119, 255, 1);
}

#partInfoMain .slice-line {
  height: 1px;
  width: 100%;
  background-color: #e6e8ef;
  margin-top: 10px;
  margin-bottom: 10px;
}

#partInfoMain .part-info-item .part-info-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#partInfoMain .part-files-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#partInfoMain .part-files-icon {
  padding: 5px 0;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#partInfoMain .part-files-icon svg {
  width: 100%;
  height: 100%;
}

#partInfoMain .part-files-title {
  flex: 1;
  width: 0;
  color: #616774;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#partInfoMain .part-files-item .part-files-user {
  color: #616774;
  margin-left: 10px;
}

#partInfoMain .part-files-item .part-files-btn {
  cursor: pointer;
  margin-left: 10px;
}

#partInfoMain .part-files-item .part-files-btn i {
  color: #99a3bb;
}

#partInfoMain .part-files-item .part-files-time {
  color: #b9bfc7;
  margin-left: 10px;
}

#partInfoMain .part-files-item .layui-dropdown-link {
  margin-left: 10px;
}

#partInfoMain .part-files-item .layui-dropdown-link i {
  color: #99a3bb;
  font-size: 14px;
}

#partInfoMain .part-files-item .part-files-status {
  width: 50px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  margin-right: 15px;
  font-size: 12px;
}

#partInfoMain .part-files-item .part-files-status.file-undone {
  background-color: #616773;
}

#partInfoMain .part-files-item .part-files-status.file-done {
  background-color: #45c5b1;
}
