html,body{
  width: 100%;
  height: 100%;
}
body{
  padding: 20px;
  box-sizing: border-box;
}
.layui-card{
  height: 100%;
}
.outline-title{
  padding-left: 10px;
}
.report-item{
  height: 190px;
  padding:25px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #212832;
  font-size: 16px;
}
.outline-item{
  height: 120px;
  padding:30px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.report-item, .outline-item{
  border: 2px dashed #ccc;
  border-radius: 10px;
  cursor: pointer;
}
.report-item:hover,.outline-item:hover{
  border:2px solid  #0077FF ;
  transition: all .5s;
  box-shadow:0 10px 22px 0 rgba(27,101,187,0.15);
}
.create-report-btn,.create-outline-btn{
  margin-bottom: 20px;
}
.report_ie__imgO {
  width: 1em;
  height: 1em;
	font-size: 59px;
  margin-bottom: 20px;
  margin-top: 31px;
}
.report_ie__title {
  color:rgba(33,40,50,1);
  font-size: 16px;
  max-width: 100%;
  margin-right: 13px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.report_ie__imgT{
  font-size: 18px !important;
  color: #99A3BC;
}
.report_ie__img{
  position: absolute;
  right: 20px;
  top:20px;
  opacity: 0;
  font-size: 19px !important;
}
.outline_ie__imgO{
  /*min-width: 55px;*/
  width: 1em;
  height: 1em;
  font-size: 88px;
  margin-right: 17px;
}
.outline_ie__title{
  font-family:Source Han Sans CN;
  color:rgba(33,40,50,1);
  font-size: 16px;
  max-width: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 15px;
  margin-right: 15px;
}
.outline_ie__titleO{
  max-width:100%;
  font-size:14px;
  font-family:Source Han Sans CN;
  font-weight:400;
  color:rgba(186,192,200,1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.outline_ie__imgT{
  font-size: 18px !important;
  color: #99A3BC;
}
.outline_ie__imgTH{
  position: absolute;
  font-size: 19px!important;
  right: 20px;
  top:20px;
  opacity: 0;
}
.report-item:hover .report_ie__img,.outline-item:hover .outline_ie__imgTH{
  opacity: 1;
  transition: all .5s;
  color: #db0701;
}
.outline_row{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.outline_rowO{
  width: 100%;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
	align-items: baseline;
}
.report_row{
  width: 100%;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: center;
}

@media screen and (max-width: 1599px) {
  .report-col-md4 {
    width: 33.33%;
  }
}
