/* 贷款户监控 */
body{
  padding: 20px;
  background: #f8fafc;
  box-sizing: border-box;
}
.account {
  overflow-x: hidden;
  overflow-y: auto;
}

.manage_title {
  color: #308C57;
  font-size: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  line-height: 20px;
  height: 20px;
}


.manage_title:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 3px;
  height: 20px;
  background: #308C57;
  border-radius: 2px;
}

.layui-card .layui-card-body:first-child {
  padding-top: 19px;
}

.account_user_list .layui-card {
  box-shadow: none;
}

.layui-col-space20>* {
  height: 100%;
}

.layui-row .layui-card {
  width: 100%;
}

.layui-card-body {
  padding-bottom: 20px;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}

.manage_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.manage_list li {
  width: 24%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 10px 0px rgba(203, 203, 203, 0.25);
  border-radius: 6px;
  height: 134px;
  display: flex;
  position: relative;
}

.manage_list li .list_count {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  margin-left: 29px;
  width: 150px;
}

.manage_list li .list_count span {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.manage_list li .list_count span:first-child {
  height: 29px;
  line-height: 29px;
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 29px;
}

.manage_list .body_list_loan .list_count span:first-child,
.manage_list .body_list_cattle .list_count span:first-child {
  color: #43C267;
}

.manage_list .body_list_feed .list_count span:first-child,
.manage_list .body_list_still .list_count span:first-child {
  color: #FF8E18;
}

.manage_list li .list_count span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  color: rgba(98, 102, 101, 1);
}

.manage_list li .list_img {
  position: absolute;
  /* border:1px solid #43C267; */
  top: 50px;
  right: 29px;
  font-size: 50px;
}

.manage_list .body_list_loan .list_img {
  color: #43C267;
  font-size: 50px;
}

.manage_list .body_list_feed .list_img {
  color: #FF8E18;
}

.manage_list .body_list_cattle .list_img {
  color: #43C267;
}

.manage_list .body_list_still .list_img {
  color: #FF8E18;
}



/* 用户列表 */
.account_user_list {
  display: flex;
  position: relative;
  flex-direction: column;
}

.account_user_list .manage_panel {
  display: flex;
  width: 100%;
}

.account_user_list .user_list {
  height: 648px;
  overflow-y: scroll;
  width: 100%;
  margin-top: 22px;
  box-sizing: border-box;
}

.account_user_list .user_list .user_item {
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
}

.account_user_list .layui-card .layui-card-body:first-child {
  padding: 0;
}


.layui_panel_container_item {
  width: 90%;
  height: 100px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 10px 0px rgba(203, 203, 203, 0.25);
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 1);
}

.layui_panel_container_item.active {
  border: 1px solid rgba(67, 194, 103, 1);
}

.layui_panel_container_item.active>.layui_panel_arrow {
  display: block;
}

.layui_panel_container_item:hover {
  border: 1px solid rgba(67, 194, 103, 1);
  transition: all .5s;
}

.layui_panel_container_item:hover>.layui_panel_arrow {
  display: block;
}

.layui_panel_arrow {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  background: #fff;
  transform: rotate(-45deg);
  border-right-color: #43C267;
  border-bottom-color: #43C267;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  display: none;
}

.layui_panel_box {
  height: 46px;
  width: 80%;
  margin: 27px auto;
  display: flex;
}

.layui_panel_box .layui_panel_img {
  width: 46px;
  height: 46px;
  border: 1px solid #43C267;
  margin-right: 18px;
  border-radius: 10px;
  line-height: 46px;
  text-align: center;
  background: #43C267;
  color: #fff;
  font-size: 22px;
}

.layui_panel_box .layui_panel_item {
  display: flex;
  flex-direction: column;
  font-family: Source Han Sans CN;
}

.layui_panel_box .layui_panel_item .layui_panel_list {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  color: rgba(49, 51, 50, 1);
  width: 100px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layui_panel_box .layui_panel_item .layui_panel_listo {
  font-size: 14px;
  font-weight: 400;
  color: rgba(98, 102, 101, 1);
  width: 144px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account_user_list .production_tab {
  width: 100%;
}

.layui_tab_btn>.layui-tab-title li {
  width: 175px;
  height: 40px;
  background: #fff;
  margin-top: -1px;
  border: 1px solid rgba(220, 223, 230, 1);
  border-radius: 0px 6px 0px 0px;
  margin-right: 20px;
  margin-left: 0px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(98, 102, 101, 1);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layui_tab_btn>.layui-tab-title .layui-this {
  background: #43C267;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.layui_tab_btn>.layui-tab-title .layui-this:after,
.layui-tab-brief>.layui-tab-more li.layui-this:after {
  border: none;
}

.layui-tab-content {
  padding: 0;
}

.layui-tab-item .information_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 5px;
  width: 100%;
  height: 624px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.layui-tab-content .layui-tab-item .video_surveillance {
  display: inline-block;
  height: 279px;
  margin-top: 19px;
  width: 32%;
  background: #eee;
  box-shadow: 0px 5px 10px 0px rgba(203, 203, 203, 0.25);
  border-radius: 6px;
  position: relative;
}

.layui-tab-content .layui-tab-item .information_basic,
.layui-tab-content .layui-tab-item .information_credit {
  display: inline-block;
  margin-top: 19px;
  width: 49%;
  height: 277px;
  border: 1px solid rgba(235, 238, 245, 1);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 10px 0px rgba(203, 203, 203, 0.25);
  border-radius: 6px;
  margin-bottom: 20px;
}

.layui-tab-content .layui-tab-item .information_assets,
.layui-tab-content .layui-tab-item .information_production,
.layui-tab-content .layui-tab-item .information_management {
  display: inline-block;
  width: 32%;
  height: 277px;
  border: 1px solid rgba(235, 238, 245, 1);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 10px 0px rgba(203, 203, 203, 0.25);
  border-radius: 6px;
  margin-bottom: 20px;
}

.layui-tab-item .basic_title {
  height: 50px;
  line-height: 50px;
  background: rgba(247, 247, 247, 1);
  border: 1px solid rgba(235, 238, 245, 1);
  border-radius: 6px 6px 0px 0px;
  box-sizing: border-box;
}

.basic_title .basic_icon {
  font-size: 20px;
  color: #43C267;
  margin-left: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.basic_title .basic_info {
  display: inline-block;
  font-size: 16px;
  width: 150px;
  height: 23px;
  line-height: 23px;
  font-weight: 500;
  color: rgba(67, 194, 103, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.information_box .basic_countent {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 173px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(147, 153, 151, 1);
}

.information_box .assets_countent {
  width: 80%;
  height: 150px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(147, 153, 151, 1);
}

.information_box .information_basic .basic_countent {
  margin-top: 30px;
  margin-left: 51px;
}

.information_box .information_assets .assets_countent,
.information_box .information_production .assets_countent,
.information_box .information_management .assets_countent {
  margin-top: 26px;
  margin-left: 30px;
}

.information_box .information_credit .basic_countent {
  margin-top: 30px;
  margin-left: 31px;
}

.basic_countent .countent_cooperation {
  margin-bottom: 28px;
}

.basic_countent span,
.basic_countent p {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.countent_cooperation {
  display: flex;
  flex-direction: row;
}

.countent_phone {
  display: flex;
  flex-direction: row;
}

.countent_cooperation .cooperation-hz {
  width: 100px;
}

.countent_phone .cooperation-tel {
  width: 100px;
}

.countent_cooperation .cooperation-yz {
  width: 115px;
  margin-left: -24px;
}

.countent_phone .cooperation-dh {
  width: 111px;
  margin-left: -39px;
}

.countent_cooperation .cooperation-name {
  width: 100px;
  margin-left: 20px;
}

.countent_phone .cooperation-time {
  width: 100px;
  margin-left: 38px;
}

.countent_cooperation .cooperation-user {
  width: 50px;
  margin-left: -23px;
}

.countent_phone .cooperation-year {
  width: 106px;
  margin-left: -40px;
}

.basic_countent .countent_daikuan {
  margin-bottom: 10px;
  width: 100px;
}

.basic_countent .countent_time {
  padding-left: 10px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  font-weight: 400;
  color: #81827f;
  background: #fff3e7;
  border-radius: 6px;
  margin-bottom: 10px;
}

.countent_credit {
  display: flex;
  flex: 1;
}

.countent_credit .credit_info {
  width: 60px;
  margin-top: 3px;
}

.countent_credit .credit_jilu {
  display: inline-block;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 50px;
}

.assets_countent .assets_content {
  height: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}

.assets_countent .assets_content span {
  width: 100px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.information_assets .assets_countent .assets_content .nongji {
  width: 60px;
}

.information_assets .assets_countent .assets_content .tlj {
  width: 100px;
}

.information_assets .assets_countent .assets_xuan {
  margin-left: 65px;
  margin-bottom: 30px;
}

.information_management .assets_countent .assets_xuan {
  margin-left: 77px;
  margin-bottom: 30px;
}

.information_management .assets_countent .assets_content .nongji {
  width: 74px;
}

.information_management .assets_countent .assets_xuan,
.information_assets .assets_countent .assets_xuan {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

.information_production .assets_countent .assets_content .nongji {
  width: 130px;
}

.information_production .assets_countent .assets_content .tlj {
  width: 100px;
}

.information_production .assets_countent .assets_xuan {
  margin-bottom: 30px;
}

.information_production .assets_xuan span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.assets_xuan .xuna_type {
  width: 74px;
}

.assets_xuan .xuan_nongzi {
  width: 100px;
}

.information_production .assets_countent .yingye,
.information_management .assets_countent .yingye {
  width: 60px;
}

.information_production .assets_countent .details,
.information_management .assets_countent .details {
  font-size: 14px;
  font-weight: 400;
  color: #43C267;
  cursor: pointer;
}

.layui-col-md9 .layui-card {
  position: absolute;
  display: none;
}

.layui-col-md9 .layui-card.on {
  display: block;
}

.video_surveillance video {
  position: absolute;
  z-index: 5;
}

.video_surveillance .video_context {
  z-index: 10;
  height: 50px;
  width: 100%;
  background: rgba(14, 20, 12, 1);
  box-shadow: 0px 5px 10px 0px rgba(203, 203, 203, 0.25);
  opacity: 0.7;
  border-radius: 0px 0px 6px 6px;
  position: absolute;
  bottom: 0;
  display: flex;
  color: #fff;
  cursor: default;
}

.video_context span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(196, 204, 201, 1);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 17px;
}

.video_context .video_yzh {
  width: 110px;
  height: 16px;
  line-height: 16px;
  margin-left: 30px;
}

.video_context .video_year {
  width: 110px;
  height: 16px;
  line-height: 16px;
  margin-left: 30px;
}

.video_context .video_data {
  width: 70px;
  height: 16px;
  line-height: 16px;
  margin-left: 5px;
}

.video_context .video_time {
  width: 110px;
  height: 16px;
  line-height: 16px;
}